<!-- <section > -->
<div class="container-fluid">
  <div class="row">

    <div class="col-lg-2 col-md-2 col-sm-12">
      <div class="">
        <img style="width:100%" src="{{logoName}}">
        <!-- <h2 class="logo-text">POS</h2> -->
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      &nbsp;
    </div>
    <div class="col-lg-2 col-md-2 col-sm-10" style="margin-top: 3px;margin-bottom: 3px;">
      <button type="button" class="btn  " style="font-size: larger;color:red;font-weight:bolder;width:100%;"
        (click)="signOut()">
        Signout&nbsp;<fa-icon [icon]="faSignOut">Signout</fa-icon>
      </button>
    </div>

  </div>
  <div class="row ">


    <div class="col-lg-2 col-md-2 col-sm-12" style="margin-bottom: 3px;">

      <!-- <div class="widgets-wrap d-flex justify-content-end"> -->
      <!-- <div class="widget-header"> -->
      <button class="btn btn-other " style="font-size: small;width:100%;" (click)="openPartialModal()"
        data-bs-toggle="modal" data-bs-target="#myModal"><b>Partial Payments</b>
      </button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12" style="margin-bottom: 3px;">
      <button class="btn btn-hold " style="font-size: small;width:100%;" (click)="lastBillOfSale()"
        data-bs-toggle="modal" data-bs-target="#myModal"><b>Last BillOfSale ({{totalSaleCount}})</b>
      </button>
    </div>


    <div class="col-lg-2 col-md-2 col-sm-12" style="margin-bottom: 3px;">
      <button class="btn btn-other  " style="font-size: small;width:100%;" (click)="salesReportExcel(false)"
        data-bs-toggle="modal" data-bs-target="#myModal"><b>Sales Report</b>
      </button>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12" style="margin-bottom: 3px;">
      <button class="btn btn-hold " style="font-size: small;width:100%;" (click)="openRetrieveSalePopup()"
        data-bs-toggle="modal" data-bs-target="#myModal"><b>Hold List</b>
      </button>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12" style="margin-bottom: 3px;">
      <button type="button" class="btn btn-dark  " style="font-size: small;width:100%;" (click)="downloadProducts()"
        disabled="disabled">
        Download Items&nbsp;<fa-icon [icon]="faCloudDownload">Download Items</fa-icon>
      </button>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12" style="margin-bottom: 3px;">
      <button type="button" class="btn btn-secondary " style="font-size: small;width:100%;" (click)="uploadSale()"
        disabled="disabled">
        Upload Sales&nbsp;<fa-icon [icon]="faCloudUpload">Upload Sales</fa-icon>
      </button>
    </div>


  </div>
  <!-- ========================= SECTION FOR CART ========================= -->
  <div id="spinner" *ngIf="spinnerDataLoad" class="text-center">
    <label style="font-size: larger;">Loading... &nbsp;&nbsp; </label>
    <div class="spinner-border text-danger" style="width: 5rem; height: 5rem;" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
  <!-- Sales Agent, UPC -->
  <div class="row mt-1">
    <!-- Input for customer phone -->
    <div class="col-md-3 col-lg-3 col-sm-12">
      <b>Cust Phone: </b>
      <input type="tel" id="selectedPhoneInput" [(ngModel)]="customer.phone1"
        placeholder="(xxx)xxx-xxxx (10 digit mobile number)" (keyup)="customerPhoneKey($event)"
        style="background-color:white;color: black;border: 1px solid gray;">
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12 mt-2">

      <b>WhatsApp Receipt: </b>

      <input type="checkbox" [(ngModel)]="whatsappFlag" (click)="whatsAppMsg()">
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12 d-flex align-items-center">
      <b>Sales Agent:&nbsp; </b>
      <fa-icon class="ng-fa-icon" [icon]="faPerson"></fa-icon>
      <input id="selectAgentInput" name="selectAgentInput" style="width:20%;" (keyup)="agentKey($event)"
        autocomplete="off">
      &nbsp;
      <label> {{selectedAgent?.loginId}}-{{selectedAgent?.firstName}} </label>

    </div>

    <!-- Search inputs -->
    <div class="col-md-4 col-lg-4 col-sm-12 mt-2">
      <b>UPC:&nbsp;</b>
      <input type="text" id="upc-search" name="upc-search" autocomplete="off"
        style="background-color:white;color: black;border: 1px solid gray;" placeholder="Search By Barcode"
        (keyup)="upcSearch($event)">
    </div>


  </div>
  <!-- Cart Table -->
  <div class="row ">
    <div class="col-md-12 col-lg-12 col-sm-12 mt-4" style="border: none;">
      <!-- <table class="table table-bordered table-striped"> -->
        <div style="overflow-x: auto;">
          <table>
            <thead>
            <tr >
              <th class="headerItemLabels" >ITEM</th>
              <th class="headerLabels">AGENT</th>
              <th class="headerLabels">QTY</th>
              <th class="headerLabels">PRICE</th>
              <th class="headerLabels">DISC(%)</th>
              <th class="headerLabels">DISC(<fa-icon [icon]="faDollar"></fa-icon>)</th>
              <th class="headerLabels"  *ngIf="showTaxFlag">TAX</th>
              <th class="headerLabels">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let  item of cartDataList.product let i = index" id="product-row_{{i}}">
  
              <td class="headerItemLabels"> {{i+1}} <a (click)="removeItem(item.productId, i)" class="btn btn-outline-danger"> <i
                    class="fa fa-trash"></i></a>&nbsp;
                <var >{{item.upc}} - {{item.productName}}</var>
              </td>
              <!-- <td><var class="price">{{item.upc}}</var></td> -->
              <td class="headerLabels">
                <var > {{item.loginId}}-{{item.firstName}} </var>
              </td>
              <td class="headerLabels">
                <!-- <div class="controls-container"> -->
                  <i class="fa fa-add" 
                    (click)="qtyAddMinus(i, '+')">
                  </i>

                  <input type="number" name="Qty_{{i}}" id="Qty_{{i}}" (keyup)="chkNumber1(i)" class="qtyLabels"
                    value="{{item.quantity}}" (change)="qtyChange(i)"
                    >
                  <i class="fa fa-minus" 
                    (click)="qtyAddMinus(i, '-')"></i>

                <!-- </div> -->
              </td>
              <td  class="headerLabels">
                <var  *ngIf="!(item.upc==='00448666')">{{((item.salePrice )).toFixed(2)}}</var>
                <input *ngIf="(item.upc==='00448666')" type="price" name="price_{{i}}" id="price_{{i}}"
                  (keyup)="chkPriceNumber1(i)" class="form-control focus" autocomplete="off" value="{{item.price}}"
                  (change)="priceChange(i)" >

              </td>

              <td  class="headerLabels">
                <input type="price" name="discount_{{i}}" id="discount_{{i}}" (keyup)="chkDiscountNumber1(i)"
                  class="form-control focus" autocomplete="off" value="{{item.discount}}" (change)="discountChange(i)"
                  >
              </td>
              <td class="headerLabels">
                <input type="price" name="discount_val_{{i}}" id="discount_val_{{i}}" class="form-control focus"
                  autocomplete="off" value="{{(item.discountVal===undefined?0: truncateToTwoDecimals( item.discountVal))}}"
                  (change)="discountValChange(i)" >
              </td>
              <td *ngIf="showTaxFlag" class="headerLabels"><var >{{ (truncateToTwoDecimals(item.totalTax)) }}
                  ({{item.tax}}%)</var></td>
              <!-- <td *ngIf="showTaxFlag"><var class="price">{{ tax(item, i) }}  ({{item.tax}}%)</var></td> -->
              <!-- <td><var class="price">{{ itemTotal(item, i) }}</var></td> -->
              <td  class="headerLabels"><var >{{ (truncateToTwoDecimals(item.totalPrice)) }}</var></td>

            </tr>

          </tbody>

          </table>


        </div>


        
    </div>  
  </div>
  <!-- Total values Label Row -->
  <div class="totalBox">


    <div class="row ">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <h4 style="text-align: left;">Sub Total (<fa-icon [icon]="faDollar"></fa-icon>):</h4>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12">
        <h4 style="text-align: left;">Qty:</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12" *ngIf="showTaxFlag">
        <h4 style="text-align: left;">Tax (<fa-icon [icon]="faDollar"></fa-icon>):</h4>
      </div>
      <!-- <div class="col-lg-2 col-md-2 col-sm-12">
      <h5 style="text-align: left;color: black;">Discount:

      </h5>
    </div> -->
      <div class="col-lg-2 col-md-2 col-sm-12">
        <h4 style="text-align: left;">Total(<fa-icon [icon]="faDollar"></fa-icon>):</h4>
      </div>

    </div>
    <!-- Total values Row -->
    <div class="row ">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <h5 style="text-align: left;"><span style="color: black;">
            {{((priceSummary.total)).toFixed(2) }}</span></h5>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12">
        <h5 style="text-align: left;"><span style="color: black;">
            {{priceSummary.totalQty }}</span></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12" *ngIf="showTaxFlag">
        <h5 style="text-align: left;"><span style="color: black;">
            {{(priceSummary.tax).toFixed(2)}}</span></h5>
      </div>
      <!-- <div class="col-lg-2 col-md-2 col-sm-12">
      <h4 style="text-align: left;color: black;">
        <input class="form-control" placeholder="Discount:" [(ngModel)]="totalDiscount"
          (input)="calculateFooterBalance()" />
      </h4>
    </div> -->
      <div class="col-lg-2 col-md-2 col-sm-12">
        <h4 style="text-align: left;"><span style="color: black;">
            {{(priceSummary.grandTotal)}}
          </span></h4>
      </div>
    </div>
  </div>

  <!-- F4, F5, F6 Buttons -->
  <div class="row mt-4">
    <div class="col-lg-3 col-md-3 col-sm-12" style="margin-bottom: 3px;">
      <button class="btn btn-danger glow-on-hover" style="font-size: medium;width:100%;" (click)="checkHoldSale()">Hold
        Sale (F4)
      </button>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 " style="margin-bottom: 3px;">
      <button class="btn btn-success glow-on-hover" style="font-size: medium;width:100%;"
        (click)="openPriceCheckPopup()">Price Check (F6)
      </button>
    </div>

    <!-- <div class="col-lg-2 col-md-2 col-sm-12" *ngIf="retrieveSaleFlag">
      <button class="btn btn-info m-1 glow-on-hover" style="width: 100% !important;height:50px !important;"
        (click)="openRetrieveSalePopup()" data-bs-toggle="modal" data-bs-target="#myModal">Retrieve Sale
      </button>
    </div> -->

    <div class="col-md-3 col-lg-3 col-sm-12 " style="margin-bottom: 3px;">
      <button class="btn btn-info glow-on-hover" id="card-button"
        style="width: 100% !important; color:black; background-color: rgb(132, 160, 214);"
        (click)="openCardModal()">Card (F5)
        <fa-icon [icon]="faCreditCard"></fa-icon>
      </button>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12 " style="margin-bottom: 3px;">
      <button class="btn btn-info glow-on-hover" style="width: 100% !important;color:black; "
        (click)="openCashModal()">Cash (F9)
        <fa-icon [icon]="faCashRegister"></fa-icon>
      </button>
    </div>


    <div class="col-lg-2 col-md-2 col-sm-12 " *ngIf="cancelSaleFlag" style="margin-bottom: 3px;">
      <button class="btn" style="width: 100% !important;height:50px !important;color:black; background-color: #ccc;"
        (click)="removeCart()">Cancel Sale
      </button>
    </div>
  </div>



  <!-- ========================= SECTION FOR CART END// ========================= -->


<!-- ================= MODALS ==================================================== -->

 <!-- Price Check Popup -->
        <div class="modal mt-5" style="width: 1200px !important;margin:400px auto;margin-top:150px !important;"
          tabindex="-1" role="dialog" [ngClass]="{'show': priceCheckPopup, 'd-block': priceCheckPopup}">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
              <div class="modal-header" style="background-color: #17A2B8;">
                <h5 class="modal-title">Price Check</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
  
  
  
                <div class="form-group">
                  <label for="priceCheck">Barcode</label>
                  <input type="search" class="form-control" id="priceCheck" (keyup)="priceCheckByUpc($event)">
                </div>
  
                <table class="table table-striped table-responsive table-bordered">
                  <tr style="width: 100%;">
                    <td style="width: 25% !important; font-family: 'Courier New', Courier, monospace; font-weight: bolder; font-size: large;">SNo.</td>
                    <td style="width: 25% !important;font-family: 'Courier New', Courier, monospace; font-weight: bolder; font-size: large;">Name</td>
  
                    <td style="width: 25% !important;font-family: 'Courier New', Courier, monospace; font-weight: bolder; font-size: large;">Price</td>
                  </tr>
  
                  <tr style="width: 100%;" *ngFor="let product of productcheckList let i=index">
                    <td style="width: 25% !important;font-family: 'Courier New', Courier, monospace; font-weight: bolder; font-size: large;">{{i+1}}</td>
                    <td style="width: 25% !important;font-family: 'Courier New', Courier, monospace; font-weight: bolder; font-size: large;">{{product.productName}}</td>
  
                    <td style="width: 25% !important;font-family: 'Courier New', Courier, monospace; font-weight: bolder; font-size: large;">{{product.salePrice}}</td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
  
                <button type="button" class="btn btn-secondary" (click)="clearFields()">Clear</button>
  
                <button type="button" class="btn btn-primary" (click)="closePriceCheck()">Close</button>
              </div>
            </div>
          </div>
        </div>
  
        <!-- ============================================================================================================================== -->
                <!-- Product Search Popup -->
        <div class="modal mt-5" style="width: 1500px !important;margin:600px auto;margin-top:100px !important;"
        tabindex="-1" role="dialog" [ngClass]="{'show': productSearchPopup, 'd-block': productSearchPopup}">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
            <div class="modal-header" style="background-color: #17A2B8;">
              <h5 class="modal-title">Product Search</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeProductSearchPopup()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="form-group">

                <input type="search" class="form-control" placeholder="Search By Name" id="name-search"
                  name="name-search" (keyup)="nameSearch($event)">

                <input type="search" class="form-control" placeholder="Search By SKU" id="sku-search" name="sku-search"
                  (keyup)="skuSearch($event)">

                <input type="search" class="form-control" placeholder="Search By Price" id="price-search"
                  name="price-search" (keyup)="priceSearch($event)">



              </div>

              <table class="table table-striped">
                <tr style="width: 100%;">
                  <td style="width: 5% !important;">SNo.</td>
                  <td style="width: 25% !important;">Name</td>
                  <td style="width: 15% !important;">Price</td>
                  <td style="width: 25% !important;">Barcode</td>
                </tr>

                <tr style="cursor: pointer;" *ngFor="let product of productcheckList let i=index"
                  (click)="selectSearchProduct(product)">
                  <td style="width: 5% !important;">{{i+1}}</td>
                  <td style="width: 25% !important;">{{product.productName}}</td>
                  <td style="width: 15% !important;">{{product.salePrice}}</td>
                  <td style="width: 25% !important;">{{product.upc}}</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-secondary" (click)="clearProductSearchFields()">Clear</button>

              <button type="button" class="btn btn-primary" (click)="closeProductSearchPopup()">Close</button>
            </div>
          </div>
        </div>
      </div>



      <!-- Retrieve Sale modal -->
      <div class="modal  mt-5" style="width: 1200px !important;margin:400px auto;margin-top:150px !important;"
        tabindex="-1" role="dialog" [ngClass]="{'show': retrieveSalePopup, 'd-block': retrieveSalePopup}">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
            <div class="modal-header" style="background-color: #17A2B8;">
              <h4 class="modal-title">Hold Sales</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeRetrieveSalePopup()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Date</th>

                      <th>Total Items</th>

                      <th>Grand Total</th>
                    </tr>
                  </thead>

                  <tbody>

                    <tr style="cursor: pointer;" (click)="showHoldSaleDetails(hold)" *ngFor="let hold of holdSales">

                      <td>{{ hold.transactionId }}</td>
                      <td>{{ hold.customer.phone1 }}</td>

                      <td>{{ getTodayDate() | date: 'yyyy-MM-dd' }}</td>
                      <td>{{ hold.product.length }}</td>
                      <td>{{ hold.total }}</td>
                    </tr>

                  </tbody>

                </table>
              </div>

            </div>

            <div class="modal-footer">

              <button type="button" class="btn btn-danger" (click)="closeRetrieveSalePopup()">Close</button>

            </div>
          </div>
        </div>
      </div>

      <!-- Cash Popup -->

      <div class="modal  mt-5"
        style="width: 100% !important;height: 100%;margin:400px auto;margin-top:150px !important;" tabindex="-1"
        role="dialog" [ngClass]="{'show': cashModal, 'd-block': cashModal}">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
            <div class="modal-header" style="background-color: #17A2B8;">
              <h4 class="modal-title">Checkout</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCashModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div>

                <div class="container-fluid mt-5" style=" border: 2px solid #ccc; border-radius: 10px;">
                  <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 mt-3">
                      <input autocomplete="off"
                        style="width: 100%;height: 30%;background-color:white;color:black; border: 2px solid #ccc; border-radius: 10px;"
                        class="form-control" id="result" name="result" placeholder="Cash Paid" type="text" autofocus
                        [(ngModel)]="result" (input)="calculateBalance()">
                    </div>
                    <div class="box col-md-6">


                      <div style="background-color:white;"><button disabled="" class="btn ">
                          <h3 style="text-align: left;color:black;">Paid:<span
                              style="position: absolute;right: 20px;color:black;"><fa-icon [icon]="faDollar"></fa-icon> {{ result }}</span></h3>
                        </button></div>
                      <div style="background-color:white;"><button disabled="" class="btn ">
                          <h3 style="text-align: left;color:black;">Total:<span
                              style="position: absolute;right: 20px;color:black;"><fa-icon [icon]="faDollar"></fa-icon> {{ priceSummary.grandTotal
                              }}</span>
                          </h3>
                        </button></div>
                      <div style="background-color:white;"><button disabled="" class="btn ">
                          <h3 style="text-align: left;color:black;">Balance:<span
                              style="position: absolute;right: 20px;color:black;"><fa-icon [icon]="faDollar"></fa-icon> {{ customerBalance.toFixed(2)
                              }}</span></h3>
                        </button></div>

                    </div>

                    <div class="box col-md-6">
                      <div class="calculator">

                        <div class="buttons" style="height: 20%;">
                          <button (click)="appendToResult('9')">9</button>
                          <button (click)="appendToResult('8')">8</button>
                          <button (click)="appendToResult('7')">7</button>
                          <!-- <button (click)="appendToResult('+')">+</button> -->
                          <!-- <button (click)="clear()">AC</button> -->
                          <br>
                          <button (click)="appendToResult('6')">6</button>
                          <button (click)="appendToResult('5')">5</button>
                          <button (click)="appendToResult('4')">4</button>
                          <!-- <button (click)="appendToResult('-')">-</button> -->
                          <!-- <button (click)="calculate()">=</button> -->
                          <br>
                          <button (click)="appendToResult('3')">3</button>
                          <button (click)="appendToResult('2')">2</button>
                          <button (click)="appendToResult('1')">1</button>
                          <!-- <button (click)="appendToResult('*')">X</button> -->
                          <!-- <button (click)="appendToResult('/')">/</button> -->
                          <br>
                          <button (click)="appendToResult('0')">0</button>
                          <!-- <button (click)="appendToResult('00')">00</button> -->
                          <button (click)="appendToResult('.')">.</button>
                          <button (click)="backSpace()">Clear</button>
                          <!-- <button (click)="appendToResult('%')">%</button> -->

                        </div>
                      </div>
                    </div>



                  </div>
                </div>

              </div>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-danger" (click)="closeCashModal()">Close</button>
              <button type="button" class="btn btn-success" (click)="onCustomerSave('CASH')">Checkout</button>

            </div>
          </div>
        </div>
      </div>

      <!-- Card Popup -->
      <div class="modal  mt-5"
        style="width: 100% !important;height: 100%;margin:400px auto;margin-top:150px !important;" tabindex="-1"
        role="dialog" [ngClass]="{'show': cardModal, 'd-block': cardModal }">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
            <div class="modal-header" style="background-color: #17A2B8;">
              <h4 class="modal-title">Checkout</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCardModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div>

                <div class="container-fluid mt-5" style=" border: 2px solid #ccc; border-radius: 10px;">
                  <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 mt-3"><input
                        style="width: 100%;height: 30%;background-color:white;color:black; border: 2px solid #ccc; border-radius: 10px;"
                        class="form-control" id="resultCard" placeholder="Cash Paid" type="text" [(ngModel)]="result"
                        (input)="calculateBalance()">
                    </div>
                    <div class="box col-md-6">


                      <div style="background-color:white;"><button disabled="" class="btn ">
                          <h3 style="text-align: left;color:black;">Paid:<span
                              style="position: absolute;right: 20px;color:black;"><fa-icon [icon]="faDollar"></fa-icon>. {{ result }}</span></h3>
                        </button>
                      </div>
                      <div style="background-color:white;">

                        <h3 style="text-align: left;color:black;">Card Type:</h3>

                      </div>

                      <div style="background-color:white;"><button disabled="" class="btn ">
                          <h3 style="text-align: left;color:black;">Total:<span
                              style="position: absolute;right: 20px;color:black;"><fa-icon [icon]="faDollar"></fa-icon>. {{ priceSummary.grandTotal
                              }}</span>
                          </h3>
                        </button></div>
                      <div style="background-color:white;"><button disabled="" class="btn ">
                          <h3 style="text-align: left;color:black;">Balance:<span
                              style="position: absolute;right: 20px;color:black;"><fa-icon [icon]="faDollar"></fa-icon>. {{ customerBalance.toFixed(2)
                              }}</span></h3>
                        </button></div>

                    </div>

                    <div class="box col-md-6">
                      <div class="calculator">

                        <div class="buttons" style="height: 20%;">
                          <button (click)="appendToResult('9')">9</button>
                          <button (click)="appendToResult('8')">8</button>
                          <button (click)="appendToResult('7')">7</button>
                          <button (click)="appendToResult('+')">+</button>
                          <button (click)="clear()">AC</button>
                          <br>
                          <button (click)="appendToResult('6')">6</button>
                          <button (click)="appendToResult('5')">5</button>
                          <button (click)="appendToResult('4')">4</button>
                          <button (click)="appendToResult('-')">-</button>
                          <button (click)="calculate()">=</button>
                          <br>
                          <button (click)="appendToResult('3')">3</button>
                          <button (click)="appendToResult('2')">2</button>
                          <button (click)="appendToResult('1')">1</button>
                          <button (click)="appendToResult('*')">X</button>
                          <button (click)="appendToResult('/')">/</button>
                          <br>
                          <button (click)="appendToResult('0')">0</button>
                          <button (click)="appendToResult('00')">00</button>
                          <button (click)="appendToResult('.')">.</button>
                          <button (click)="backSpace()">Clear</button>
                          <button (click)="appendToResult('%')">%</button>

                        </div>
                      </div>
                    </div>



                  </div>
                </div>

              </div>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-danger" (click)="closeCardModal()">Close</button>
              <button type="button" class="btn btn-success" (click)="onCustomerSave('CARD')">Checkout</button>

            </div>
          </div>
        </div>
      </div>


      <!-- Search By name modal -->
      <div class="modal mt-5" style="width: 1200px !important;margin:400px auto;margin-top:150px !important;"
        tabindex="-1" role="dialog" [ngClass]="{'show': nameSearchModal, 'd-block': nameSearchModal}">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
            <div class="modal-header" style="background-color: #17A2B8;">
              <h5 class="modal-title">Price Check</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeNameSearchModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <table class="table table-striped">
                <tr style="width: 100%;">
                  <th style="width: 5% !important;">SNo.</th>
                  <th style="width: 25% !important;">Name</th>

                  <th style="width: 25% !important;">Price</th>
                </tr>

                <tr style="width: 100%;cursor: pointer;" *ngFor="let product of searchProducts let i=index"
                  (click)="addToCart(product)">
                  <td style="width: 5% !important;">{{i+1}}</td>
                  <td style="width: 25% !important;">{{product.productName}}</td>

                  <td style="width: 25% !important;">{{product.salePrice}}</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-primary" (click)="this.nameSearchModal = false;">Close</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Partial Payment Modal -->
      <div class="modal  mt-5"
        style="width: 300rem!important;height:400rem!important ;margin:100px auto;margin-top:150px !important;" tabindex="-1"
        role="dialog" [ngClass]="{'show': partialModal, 'd-block': partialModal}">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content custom-dialog" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
            <div class="modal-header" style="background-color: #17A2B8;">
              <h4 class="modal-title">Partial Payment</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePartialModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <div class="container-fluid " style=" border: 2px solid #ccc; border-radius: 10px;">
                  <div class="row" *ngIf="addPartialPaymentFlag">
                    <div clas="col-md-12">
                      <b>Payment Amount:</b>
                      <input type="price" [(ngModel)]="instalmentAmount" class="form-control" style="width:10rem;"
                        autocomplete="off" placeholder="Enter Instalment Amount">
                    <!-- </div> -->
                    <!-- <div class="box col-md-3"> -->
                      <b>Payment Method:</b>
                      <select name="selectedPaymentMethod" class="form-select" [(ngModel)]="selectedPaymentMethod" style="width:10rem;">
                        <option *ngFor="let code of paymentMethodList" [value]="code.code">
                          {{code.code}}</option>
                      </select>
                    <!-- </div> -->
                    <!-- <div class="box col-md-3"> -->
                      <button type="button" class="btn btn-success mt-2" style="width:10rem;" (click)="savePartialPayment()">Save</button>
                    </div>
                  </div>

                  <div class="row" *ngIf="!addPartialPaymentFlag">
                    <div class="box col-md-4">
                      <input type="search" [(ngModel)]="orderSearch" class="form-control" autocomplete="off"
                        placeholder="Enter Bill of Sale" (keyup)="billOfSaleSearch($event)">
                    </div>
                    <div class="box col-md-4">
                      <input type="search" [(ngModel)]="phoneSearch" class="form-control" autocomplete="off"
                        placeholder="Enter Customer Phone" (keyup)="custPhoneSearch($event)">
                    </div>
                    <div class="box col-md-4">
                      <button type="button" class="btn btn-success mt-2" style="width:10rem;" (click)="searchPartialPayment()">Search</button>
                    </div>

                  </div>
                  <div *ngIf="!multiPaymentListFlag">
                    <div class="row" *ngIf="!addPartialPaymentFlag">
                      <div class="box col-md-12">
                        <table class="table-responsive" style="height:18rem;">
                          <thead>
                            <tr style="background-color:gray;border: 0px solid white; color: white;">
                              <th style="width:3rem;">S.No</th>
                              <th class="price-css">Sale#</th>
                              <th class="price-css">Total Amount</th>
                              <th class="price-css">Partial Payment</th>
                              <th class="price-css">Payment Date</th>
                              <th class="price-css">Payment Method</th>
                              <th class="price-css">Remaining Balance</th>
                              <th class="price-css">Status</th>
                            </tr>
                          </thead>
  
                          <tbody>
                            <tr *ngFor="let  item of paymentList let i = index" id="payment-row_{{i}}" (click)="onPaymentSelect(item, i)">
                              <td style="width:3rem;"> {{i+1}} </td>
                              <td> BL {{orderCustomerWrapper.orders.invoiceNumber}} </td>
                              <td> {{item.totalAmount}} </td>
                              <td> {{item.instalmentAmount}} </td>
                              <td> {{item.instalmentDate}} </td>
                              <td> {{item.paymentMethod}} </td>
                              <td> {{item.remainingBalance}} </td>
                              <td> {{item.paymentStatus}} </td>
  
                            </tr>
                          </tbody>
                        </table>
                      </div>
  
                    </div>
  
                  </div>
                  <!-- Multi Payments for selected Customer  -->
                  <div *ngIf="multiPaymentListFlag">
                    <div class="row" *ngIf="!addPartialPaymentFlag">
                      <div class="box col-md-12">
                        <table class="table-responsive" style="height:18rem;">
                          <thead>
                            <tr style="background-color:gray;border: 0px solid white; color: white;">
                              <th style="width:3rem;">S.No</th>
                              <th class="price-css">Sale#</th>
                              <th class="price-css">Total Amount</th>
                              <th class="price-css">Partial Payment</th>
                              <th class="price-css">Payment Date</th>
                              <th class="price-css">Payment Method</th>
                              <th class="price-css">Remaining Balance</th>
                              <th class="price-css">Status</th>
                            </tr>
                          </thead>
  
                          <tbody>
                            <div *ngFor="let  paymentListItem of paymentMultiList let j=index" id="payment-row_{{j}}">
                              <hr>
                              <tr *ngFor="let  item of paymentMultiList[j].payment let i=index" (click)="onPaymentSelect(item, j)">
                                <td style="width:3rem;"> {{i+1}} </td>
                                <td> BL{{paymentMultiList[j].orders.invoiceNumber}} </td>
                                <td> {{item.totalAmount}} </td>
                                <td> {{item.instalmentAmount}} </td>
                                <td> {{item.instalmentDate}} </td>
                                <td> {{item.paymentMethod}} </td>
                                <td> {{item.remainingBalance}} </td>
                                <td> {{item.paymentStatus}} </td>
    
                              </tr>
  

                            </div>
                          </tbody>
                        </table>
                      </div>
  
                    </div>

                  </div>

                </div>

              </div>
            </div>
            <div class="modal-footer" *ngIf="!addPartialPaymentFlag">

              <button type="button" class="btn btn-danger" (click)="closePartialModal()">Close</button>
              <button type="button" class="btn btn-success" [disabled]="!showPartialPaymentFlag" (click)="addPartialPayment()">Add Partial Payment</button>

            </div>
          </div>
        </div>
      </div>





  <!-- container div -->
</div>
<!-- container div -->