<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="assets/images/fav.webp" type="image/webp">
<link rel="stylesheet" href="../../assets/css/custom.css">
<link rel="stylesheet" href="../../assets/css/responsive.css">

<section class="inner_banner py-4" style="background:url(assets/images/inner_banner/web.webp) center/cover no-repeat;">

  <div class="container">
    <div class="row align-items-center">

      <!-- LEFT: FORM -->
      <div class="col-12 col-lg-6">
        <div class="inner_banner_content p-3 p-md-4 bg-white rounded shadow-sm">

          <h4 class="fw-bold text-center text-lg-start mb-3">
            EZPZ Point Of Sale
          </h4>

          <div class="text-center mb-3">
            <label class="errorLabel">{{ errorMsg }}</label>
          </div>

          <form [formGroup]="registerForm">

            <div *ngIf="registerFlag" class="mb-3 text-center text-lg-start">
              <label class="fw-bold fs-5 text-secondary">
                Register User
              </label>
            </div>

            <!-- USER ID -->
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" formControlName="loginId"
                placeholder="Enter User Id" style="background:#e6f3fd;">
            </div>

            <!-- PASSWORD -->
            <div class="mb-3 position-relative">
              <input class="form-control form-control-lg" [type]="showPassword ? 'text' : 'password'"
                formControlName="loginPassword" placeholder="Enter Password"
                style="background:#e6f3fd; padding-right:3rem;">

              <i class="bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3" style="cursor:pointer;"
                (click)="togglePasswordVisibility()"></i>
            </div>
            <div class="mb-3 position-relative" >
              <label>Cash Register:</label>
              <select id="agentSelect" [(ngModel)]="cashierShift.deviceId" class="form-select "
                placeholder="Select Cash Register" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let device of deviceRegisterList" [value]="device.deviceId">
                  {{ device.deviceName }}
                </option>
              </select>
              <!-- <label *ngIf="showOpenBalanceFlag">Opening Balance:</label>
              <input *ngIf="showOpenBalanceFlag" type="text" class="form-control form-control-lg" [(ngModel)]="cashierShift.openingBalance"
                placeholder="Enter Opening Balance" [ngModelOptions]="{standalone: true}"> -->

            </div>

            <!-- REGISTER FIELDS -->
            <div *ngIf="registerFlag">

              <div class="mb-3">
                <input class="form-control form-control-lg" formControlName="firstName" placeholder="First Name"
                  style="background:#e6f3fd;">
              </div>

              <div class="mb-3">
                <input class="form-control form-control-lg" formControlName="lastName" placeholder="Last Name"
                  style="background:#e6f3fd;">
              </div>

              <div class="mb-3">
                <input type="email" class="form-control form-control-lg" formControlName="email" placeholder="Email"
                  style="background:#e6f3fd;">
              </div>

            </div>

            <!-- SIGN IN BUTTON -->
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary btn-lg" (click)="signInClick()">
                Sign In
              </button>
            </div>

          </form>
        </div>
      </div>

      <!-- RIGHT: IMAGE (HIDE ON MOBILE) -->
      <div class="col-lg-6 d-none d-lg-block text-center">
        <img src="assets/images/logos/techmaci-logo2.jpeg" class="img-fluid">
        <img src="assets/images/logos/ezpz-logo.png" class="img-fluid">


        <!-- <img src="assets/images/inner_banner/banner_right/pos_right.png"
             class="img-fluid"> -->
      </div>

    </div>

    <!-- FOOTER INFO -->
    <div class="row mt-4 text-center">
      <div class="col-12">
        <small class="text-muted">
          Version: {{versionNumber}} |
          Environment: {{appEnv}} |
          DB: {{apiDB}}
        </small>
      </div>

      <div class="col-12 mt-2">
        <small class="text-muted">
          Designed & Developed by <strong>TECHMACI Inc.</strong>
        </small>
      </div>
    </div>

  </div>

  <!-- Loading Spinner -->
  <div class="text-center my-5" *ngIf="spinnerDataLoad">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2 text-muted">Logging to EZPZ POS...</p>
  </div>



  <!-- Open dialog to ask for opening balance -->
  <div class="modal fade" id="openBalanceModal" tabindex="-1" aria-labelledby="openBalanceModalLabel" aria-hidden="true"
    [ngClass]="{'show d-block': openBalanceFlag}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="openBalanceModalLabel">Enter Opening Balance</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="openingBalance">Opening Balance:</label>
          <input type="number" class="form-control" id="openingBalance" [(ngModel)]="cashierShift.openingBalance">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveOpenBalance()">Save</button>
        </div>
      </div>
    </div>
  </div>

</section>