.tdcolumnheader{
    color: white !important; 
}

/*
table {
    width: 100%;
    display:block;
}

thead, tbody { display: block; width: 100%;}

tbody {
    height: 100px;       
    overflow-y: auto;    
    overflow-x: hidden;  
    width:100%;
}
*/