.tdcolumnheader{
    color: white !important; 
}

/*
table {
    width: 100%;
    display:block;
}

thead, tbody { display: block; width: 100%;}

tbody {
    height: 100px;       
    overflow-y: auto;    
    overflow-x: hidden;  
    width:100%;
}
*/

.enMoney::before {
    content:"$";
}
.negMoney {
    color:red;
}

.totalSale{
    font-size: x-large;
    font-weight: bold;
    color: green;
}
.totalSaleCombined{
    font-size: x-large;
    font-weight: bold;
    color: brown;
}

.pos-table-header th {
  background-color: #000 !important;   /* black */
  color: #fff !important;              /* white text */
  font-weight: 700;
  text-transform: uppercase;
  border-color: #444;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #198754;
}
.price-card-cash {
  font-size: 1.0rem;
  font-weight: bold;
  color: brown;
}
