<section class="header-main">
    <div class="container" style="height: 25px;">
      <div class="row">
  
  
        <div class="col-lg-1 col-md-1 col-sm-12" style="position: relative;top: -10px;">
          <div class="brand-wrap">
            <img class="logo" src="{{logoName}}">
            <!-- <h2 class="logo-text">POS</h2> -->
          </div> <!-- brand-wrap.// -->
        </div>
        <!-- <div class="col-lg-8 col-md-8 col-sm-12" style="position: relative;top: -30px;left: 15px;"> -->
          <!-- <div class="row"> -->
            <!-- <div class="col-3">
              <div class="search-wrap input-group">
                <input type="search" class="form-control" placeholder="Search By Name" id="name-search" name="name-search"
                  (keyup)="nameSearch($event)">
                <div class="input-group-append">
                </div>
              </div>
            </div>
            <div class="col-3">
              <form action="#" class="search-wrap">
                <div class="input-group">
                  <input type="search" autofocus id="upc-search" name="upc-search" class="form-control"
                    placeholder="Search By UPC" (keyup)="upcSearch($event)">
                  <div class="input-group-append">
                  </div>
                </div>
              </form>
            </div>
            <div class="col-3">
              <form action="#" class="search-wrap">
                <div class="input-group">
                  <input type="search" autofocus id="sku-search" name="sku-search" class="form-control"
                    placeholder="Search By SKU" (keyup)="skuSearch($event)">
                  <div class="input-group-append">
                  </div>
                </div>
              </form>
            </div>
            <div class="col-3">
              <form action="#" class="search-wrap">
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Item Quantity" [(ngModel)]="productQuantity"
                    (keypress)="chkNumber()" [ngModelOptions]="{standalone: true}" type="number" pattern="[0-9]{2}"
                    step="1" min="1" max="99" maxlength="3" name="quantity" value="{{productQuantity}}" title="Qty"
                    size="4" ngModel>
                  <div class="input-group-append">
                  </div>
                </div>
              </form>
            </div> -->
          <!-- </div> -->
          <!-- search-wrap .end// -->
        <!-- </div> col.// -->
        <div class="col-lg-8 col-md-8 col-sm-12" style="position: relative;top: -8px;">
  
          <div class="widgets-wrap d-flex justify-content-end">
            <div class="widget-header">
              <button type="button" class="btn btn-success" style="font-size: large;" (click)="downloadProducts()">
                Download Items&nbsp;<fa-icon [icon]="faCloudDownload">Download Items</fa-icon>
              </button>&nbsp;
              <button type="button" class="btn btn-warning" style="font-size: large;" (click)="uploadSale()">
                Upload Sales&nbsp;<fa-icon [icon]="faCloudUpload">Upload Sales</fa-icon>
              </button>
              &nbsp;
              <a href="#" class="icontext">
                <a href="#" (click)="signOut()" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only">
                  Signout&nbsp;<fa-icon [icon]="faSignOut"></fa-icon>
                </a>
              </a>
  
            </div> <!-- widget .// -->
            <div class="widget-header dropdown">
              <a routerLink="/home" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
                <img src="assets/images/avatars/bshbsh.png" class="avatar" alt="">
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i> Logout</a>
              </div> <!--  dropdown-menu .// -->
            </div> <!-- widget  dropdown.// -->
          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section>
  
  <!-- ========================= SECTION CONTENT ========================= -->
  
  <!-- <section class="section-content" > -->
  <div class="container-fluid">
    <!-- Row for Customer Info -->
    <div class="row" style="margin: 0px;">
        <div class="col-md-2 col-lg-2 col-sm-12">
            <!-- <div class="search-wrap input-group"> -->
              <input type="search" class="form-control" placeholder="Search By Name" id="name-search" name="name-search"
                (keyup)="nameSearch($event)">
              <!-- <div class="input-group-append"> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
          <div class="col-md-2 col-lg-2 col-sm-12">
            <!-- <form action="#" class="search-wrap"> -->
              <!-- <div class="input-group"> -->
                <input type="search" autofocus id="upc-search" name="upc-search" class="form-control"
                  placeholder="Search By Barcode" (keyup)="upcSearch($event)">
                <!-- <div class="input-group-append"> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </form> -->
          </div>
    


      <div class="col-md-2 col-lg-2 col-sm-12 ">
        <input type="text" [(ngModel)]="customer.firstName" placeholder="Customer Name"
          style="background-color:white;color: black;width: 100%;border: 1px solid gray;">
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12 ">
        <input type="email" [(ngModel)]="customer.email" placeholder="Emai"
          style="background-color:white;color: black;width: 100%;border: 1px solid gray;">
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12 ">
        <input type="tel" [(ngModel)]="customer.phone1" placeholder="Phone"
          style="background-color:white;color: black;width: 100%;border: 1px solid gray;">
      </div>
      <div class="col-md-1 col-lg-1 col-sm-12 "><fa-icon [icon]="faPerson"></fa-icon><b>Agent:</b></div>
      <div class="col-md-1 col-lg-1 col-sm-12 ">
        <input type="tel" [(ngModel)]="agent" placeholder="Agent"
          style="background-color:white;color: black;width: 100%;border: 1px solid gray;">
      </div>
  
  
    </div> <!--Row-->
  
  
    <!-- MAIN CART -->
    <div class="row" style="margin: 0px;">
  
      <div class="col-md-12 col-lg-12 col-sm-12 card" style="height:100% ;height: 50vh !important;border: none;">
  
        <span id="items" style="margin-top: 20px;">
          <div class="row">
            <div class="col-12">
              <table *ngIf="!mobileshow" style="border: 1px solid black;width: 100%;">
                <thead>
                  <tr style="background-color:#17A2B8;border: 1px solid black;">
                    
                    <th scope="col">Item</th>
                    <th scope="col">UPC</th>
                    <th scope="col">Agent</th>
                    <th scope="col" width="120">Qty</th>
                    <th scope="col" width="120">Price</th>
                    <!-- <th scope="col" width="120">Discount</th> -->
                    <th scope="col" width="120">Total</th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let item of cartDataList.product let i = index" style="border: 1px solid black;">
                    
                    <td><a (click)="removeItem(item.productId, i)" class="btn btn-outline-danger"> <i
                      class="fa fa-trash"></i></a><var class="price">{{item.productName}}</var></td>
                    <td><var class="price">{{item.upc}}</var></td>
                    <td><var class="price">Agent01</var></td>
                    <td>
                      <input type="number" name="Qty_{{i}}" id="Qty_{{i}}" (keyup)="chkNumber1(i)"
                        class="form-control" value="{{item.quantity}}" (change)="qtyChange(i)"
                        style="width:50%;height: 10px !important;"></td>
                    <td>
                      <var class="price" *ngIf="item.salePrice">{{item.salePrice | number:'1.0-0'}}</var>
                      <var class="price" *ngIf="!item.salePrice">{{item.unitPrice | number:'1.0-0'}}</var>
                    </td>
                    <td><var class="price">{{ toFixDecimalNumbera(item) }}</var></td>
                  </tr>
                </tbody>
              </table>
  
              <ul class="nav bg radius nav-pills nav-fill mb-3 bg " role="tablist" *ngIf="mobileshow">
                <li class="nav-item">
                  <label id="rangeValue" style="display: none;"> {{rangeValue}} </label>
                  <select name="selectedCategory" class="form-select" [(ngModel)]="selectedCategory"
                    [ngModelOptions]="{standalone: true}" [disabled]="spinnerDataLoad" (change)="categoryChange()">
                    <option *ngFor="let category of categoryList" [value]="category.categoryId">
                      {{category.subCategory}}</option>
                  </select>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" data-toggle="pill" href="#nav-tab-card">
                    <i class="fa fa-tags"></i> Search By Category</a>
                </li>
              </ul>
  
            </div>
          </div> <!-- row.// -->
          <!-- row.// -->
        </span>
      </div>
  
  
      <span class="mt-3" id="items" *ngIf="mobileshow">
        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-md-12">
              <div id="spinner" *ngIf="spinnerDataLoad" class="text-center">
                <label style="font-size: larger;">Loading... &nbsp;&nbsp; </label>
                <div class="spinner-border text-danger" style="width: 5rem; height: 5rem;" role="status">
                  <span class="visually-hidden"></span>
                </div>
              </div>
              <div class="row ">
                <!-- ////////////////////////////////////////////////////////////////////// -->
                <div class="col-md-4" *ngFor="let item of productViewList">
                  <!-- <div class="col-md-6" > -->
                  <figure class="card card-product">
                    <span class="badge-new"> <i class="fas fa-shopping-cart"></i></span>
                    <div class="img-wrap"> <img src='data:{{item.imageMimeType}};base64,{{item.productImage}}'>
                      <!-- <a routerLink="/productsingle/{{item.productId}}/{{item.category}}/{{item.categoryId}}"> -->
                      <!-- <i class="fa fa-search-plus"></i> Quick view -->
                      <!-- </a> -->
                    </div>
                    <figcaption class="info-wrap">
                      <a class="title">
                        {{item.productName}}
                      </a>
                      <div class="action-wrap">
                        <a (click)="addToCart(item)" class="btn btn-primary btn-sm float-right"> <i
                            class="fa fa-cart-plus"></i>Add to Cart</a>
                        <div class="price-wrap h5">
                          <span class="price-new" *ngIf="item.salePrice">{{item.salePrice}}</span>
                          <del class="price-old" *ngIf="!item.salePrice">{{item.unitPrice}}</del>
                          <br>
                          <span style="font-family: 'Roboto Condensed', sans-serif;">
                            <label class="errorLabel" *ngIf="item.quantity===null || item.quantity<1">Out Of
                              Stock</label>
                          </span>
                        </div>
  
                        <!-- price-wrap.// -->
                      </div> <!-- action-wrap -->
                    </figcaption>
                  </figure> <!-- card // -->
                </div> <!-- col // -->
                <!-- ////////////////////////////////////////////////////////////////////// -->
              </div> <!-- row.// -->
            </div>
          </div>
        </div>
      </span>
  
  
      <div class="modal mt-5" style="width: 1200px !important;margin:400px auto;margin-top:150px !important;"
      tabindex="-1" role="dialog" [ngClass]="{'show': modalOpen, 'd-block': modalOpen}">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
          <div class="modal-header" style="background-color: #17A2B8;">
            <h5 class="modal-title">Price Check</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Input fields -->
  
  
            <div class="form-group">
              <label for="priceCheck">Barcode</label>
              <input type="search" autofocus class="form-control" id="priceCheck" (keyup)="priceCheckByUpc($event)">
            </div>
  
            <table class="table table-striped">
              <tr style="width: 100%;">
                <td style="width: 25% !important;">SNo.</td>
                <td style="width: 25% !important;">Name</td>
  
                <td style="width: 25% !important;">Price</td>
              </tr>
  
              <tr style="width: 100%;" *ngFor="let product of productcheckList let i=index">
                <td style="width: 25% !important;">{{i+1}}</td>
                <td style="width: 25% !important;">{{product.productName}}</td>
  
                <td style="width: 25% !important;">{{product.salePrice}}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <!-- Clear button -->
            <button type="button" class="btn btn-secondary" (click)="clearFields()">Clear</button>
            <!-- Add any other buttons/actions as needed -->
            <button type="button" class="btn btn-primary" (click)="this.modalOpen = false;">Close</button>
          </div>
        </div>
      </div>
    </div>
  
  
          <!-- Retrieve Sale modal -->
          <div class="modal  mt-5" style="width: 1200px !important;margin:400px auto;margin-top:150px !important;"
            tabindex="-1" role="dialog" [ngClass]="{'show': modalOpen1, 'd-block': modalOpen1}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
                <div class="modal-header" style="background-color: #17A2B8;">
                  <h4 class="modal-title">Hold Sales</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal1()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Input fields -->
                  <div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Date</th>
                          <!-- <th>Tax</th> -->
                          <th>Total Items</th>
                          <!-- <th>Discount</th> -->
                          <th>Grand Total</th>
                        </tr>
                      </thead>
  
                      <tbody>
  
                        <tr style="cursor: pointer;" (click)="showHoldSaleDetails(hold)" *ngFor="let hold of holdSales">
                          <!-- Display transaction ID for each hold sale -->
                          <td>{{ hold.transactionId }}</td>
                          <td>{{ hold.customer.firstName }}</td>
                          <!-- Display today's date for each hold sale -->
                          <td>{{ getTodayDate() | date: 'yyyy-MM-dd' }}</td>
                          <td>{{ hold.product.length }}</td>
                          <td>{{ hold.total }}</td>
                        </tr>
  
                      </tbody>
  
                    </table>
                  </div>
  
                </div>
  
                <div class="modal-footer">
                  <!-- Clear button -->
                  <button type="button" class="btn btn-danger" (click)="closeModal1()">Close</button>
                  <!-- Add any other buttons/actions as needed -->
                </div>
              </div>
            </div>
          </div>
  
  
  
      <div class="modal  mt-5"
      style="width: 100% !important;height: 100%;margin:400px auto;margin-top:150px !important;" tabindex="-1"
      role="dialog" [ngClass]="{'show': modalOpen2, 'd-block': modalOpen2}">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
          <div class="modal-header" style="background-color: #17A2B8;">
            <h4 class="modal-title">Checkout</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal2()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Input fields -->
            <div>
  
              <div class="container-fluid mt-5" style=" border: 2px solid #ccc; border-radius: 10px;">
                <div class="row">
                  <div class="col-6"></div>
                  <div class="col-6 mt-3"><input
                      style="width: 100%;height: 30%;background-color:white;color:black; border: 2px solid #ccc; border-radius: 10px;"
                      class="form-control" id="result" placeholder="Cash Paid" type="text" [(ngModel)]="result"
                      (input)="calculateBalance()"></div>
                  <div class="box col-md-6">
                    <!-- Subtotal -->
  
                    <div style="background-color:white;"><button disabled="" class="btn ">
                        <h3 style="text-align: left;color:black;">Paid:<span
                            style="position: absolute;right: 20px;color:black;">Rs {{ result | number: '1.0-0'
                            }}</span></h3>
                      </button></div>
                    <div style="background-color:white;"><button disabled="" class="btn ">
                        <h3 style="text-align: left;color:black;">Total:<span
                            style="position: absolute;right: 20px;color:black;">Rs {{ calculateCartTotal() +
                            FbrCharges | number: '1.0-0' }}</span></h3>
                      </button></div>
                    <div style="background-color:white;"><button disabled="" class="btn ">
                        <h3 style="text-align: left;color:black;">Balance:<span
                            style="position: absolute;right: 20px;color:black;">Rs {{ customerBalance | number:
                            '1.0-0' }}</span></h3>
                      </button></div>
  
                  </div>
  
                  <div class="box col-md-6">
                    <div class="calculator">
                      <!-- Input field -->
  
                      <!-- Buttons -->
                      <div class="buttons" style="height: 20%;">
                        <button (click)="appendToResult('9')">9</button>
                        <button (click)="appendToResult('8')">8</button>
                        <button (click)="appendToResult('7')">7</button>
                        <button (click)="appendToResult('+')">+</button>
                        <button (click)="clear()">AC</button>
                        <br>
                        <button (click)="appendToResult('6')">6</button>
                        <button (click)="appendToResult('5')">5</button>
                        <button (click)="appendToResult('4')">4</button>
                        <button (click)="appendToResult('-')">-</button>
                        <button (click)="calculate()">=</button>
                        <br>
                        <button (click)="appendToResult('3')">3</button>
                        <button (click)="appendToResult('2')">2</button>
                        <button (click)="appendToResult('1')">1</button>
                        <button (click)="appendToResult('*')">X</button>
                        <button (click)="appendToResult('/')">/</button>
                        <br>
                        <button (click)="appendToResult('0')">0</button>
                        <button (click)="appendToResult('00')">00</button>
                        <button (click)="appendToResult('.')">.</button>
                        <button (click)="backSpace()">Clear</button>
                        <button (click)="appendToResult('%')">%</button>
  
                      </div>
                    </div>
                  </div>
  
  
  
                </div>
              </div>
  
            </div>
          </div>
          <div class="modal-footer">
            <!-- Clear button -->
            <button type="button" class="btn btn-danger" (click)="closeModal2()">Close</button>
            <button type="button" class="btn btn-success" (click)="onCustomerSave('REGISTER')">Success</button>
            <!-- Add any other buttons/actions as needed -->
          </div>
        </div>
      </div>
    </div>
  
  
  
      <!-- Search By name modal -->
      <div class="modal mt-5" style="width: 1200px !important;margin:400px auto;margin-top:150px !important;"
        tabindex="-1" role="dialog" [ngClass]="{'show': nameSearchModal, 'd-block': nameSearchModal}">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" style=" box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
            <div class="modal-header" style="background-color: #17A2B8;">
              <h5 class="modal-title">Price Check</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeNameSearchModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Input fields -->
              <table class="table table-striped">
                <tr style="width: 100%;">
                  <th style="width: 5% !important;">SNo.</th>
                  <th style="width: 25% !important;">Name</th>
  
                  <th style="width: 25% !important;">Price</th>
                </tr>
  
                <tr style="width: 100%;cursor: pointer;" *ngFor="let product of searchProducts let i=index"
                  (click)="addToCart(product)">
                  <td style="width: 5% !important;">{{i+1}}</td>
                  <td style="width: 25% !important;">{{product.productName}}</td>
  
                  <td style="width: 25% !important;">{{product.salePrice}}</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <!-- Add any other buttons/actions as needed -->
              <button type="button" class="btn btn-primary" (click)="this.nameSearchModal = false;">Close</button>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
  
    <!-- Row for Totals -->
    <div class="row" style="margin: 0px;">
      <div class="col-md-3 col-lg-3 col-sm-12 ">
        <h4 style="text-align: left;">S Total:<span style="color: black;">Rs.
          {{priceSummary.total | number: '1.0-0'}}</span></h4>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12 ">
        <h4 style="text-align: left;">Tax:<span style="color: black;">Rs.
          {{priceSummary.tax}}</span></h4>
  
      </div>
      
      <div class="col-md-2 col-lg-2 col-sm-12 ">
          <h4 style="text-align: left;color: black;">
            <input class="form-control" placeholder="Discount:"
              [(ngModel)]="totalDiscount" (input)="calculateBalance()" /></h4>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12 ">
        <h4 style="text-align: left;">Other<span style="color: black;">Rs. {{
          FbrCharges | number: '1.0-0'}}</span></h4>
  
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 ">
        <h3 style="text-align: left;">Total:<span style="color: black;">Rs.
          {{priceSummary.grandTotal + FbrCharges | number: '1.0-0'}}</span></h3>
  
      </div>
  
    </div>
  
    <!-- Row for All Buttons-->
    <div class="row" style="margin: 0px;">
      <div class="col-md-2 col-lg-2 col-sm-12 ">
        <button class="btn btn-warning" style="width: 100% !important;height: 50px !important;"
          (click)="openModal2()">Card
        </button>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12 ">
        <button class="btn btn-success" style="width: 100% !important;height: 50px !important;"
          (click)="openModal2()">Cash
        </button>
      </div>
  
  
      <div class="col-lg-2 col-md-2 col-sm-12 ">
        <button class="btn btn-danger m-1" style="width: 100% !important;height:50px !important;"
          (click)="removeCart()">Cancel Sale
        </button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 ">
        <button class="btn btn-primary m-1" style="width: 100% !important;height:50px !important;"
          (click)="openModal()">Price Check
        </button>
      </div>
  
      <div class="col-lg-2 col-md-2 col-sm-12">
        <button class="btn btn-info m-1" style="width: 100% !important;height:50px !important;" (click)="holdSale()">Hold
          Sale
        </button>
      </div>
  
      <div class="col-lg-2 col-md-2 col-sm-12">
        <button class="btn btn-info m-1" style="width: 100% !important;height:50px !important;" (click)="openModal1()"
          data-bs-toggle="modal" data-bs-target="#myModal">Retrieve Sale
        </button>
      </div>
      <!-- <div class="col-lg-6 col-md-6 col-sm-2">
        <button (click)="hide()" class="btn btn-secondary m-1"
          style="width: 100% !important;height:50px !important;">Touch
        </button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-2"> 
        <button (click)="show()" class="btn btn-secondary m-1"
          style="width: 100% !important;height:50px !important;">General
        </button>
      </div> -->
  
  
    </div>
  
  
  
  </div>
  <!-- </section> -->
  
  <!-- ========================= SECTION CONTENT END// ========================= -->